- if flash[:email_error]
  #warning
    -#Ошибка:
    = flash[:email_error]
    -flash[:email_error] = ""

-if @branch.emails.any?
  %table.table.table-condensed.table-striped{id: 'emails'}
    %tr
      %th Электронная почта
      %th{:width => "20%" }
    -@branch.emails.each do |em|
      %tr
        %td= em.name
        %td
          -unless @current_user.is_agent?
            = link_to branch_delete_email_path(@branch, em), :method => :delete, :confirm => 'Удалить запись?',
            title: 'Удалить', class: 'btn btn-mini', :rel => "nofollow", :remote => true do
              =glyph(:remove)