= form_tag branch_add_website_path(@branch), {:remote => true, :method => :post, class: "form-inline"} do
  = text_field_tag "branch_website", "", :placeholder => "http://www.example.com", :size => 70
  =button_tag :id => "branch_add_website", :class => "btn btn-small", type: "submit" do
    =glyph(:plus)
    Добавить
#websites_list
  = render :partial => "websites_list"