- if flash[:website_error]
  #warning
    -#Ошибка:
    = flash[:website_error]
    -flash[:website_error] = ""

-if @branch.websites.count > 0
  %table.table.table-condensed.table-striped{id: 'websites'}
    %tr
      %th Веб-сайт
      %th{:width => "20%" }
    -@branch.websites.each do |ws|
      %tr
        %td= ws.name
        %td
          -unless @current_user.is_agent?
            = link_to branch_delete_website_path(@branch, ws), :method => :delete, :confirm => 'Удалить запись?',
            title: 'Удалить', class: 'btn btn-mini', :rel => "nofollow", :remote => true, id: 'btn_branch_delete' do
              =glyph(:remove)