.page-header
  %h1
    =@branch.fact_name
    %p
      %small= link_to @company.title, company_path(@company)

  = render :partial => "shared/messages"


.container
  .row
    .span4
      .well
        =render :partial => 'branches/info'

    .span8
      %ul.nav.nav-tabs#branch-tabs
        %li.active
          =link_to '#branch-address' do
            Адрес
        %li
          =link_to '#branch-phones' do
            Телефоны
        %li
          =link_to '#branch-emails' do
            Почта
        %li
          =link_to '#branch-websites' do
            Веб-сайты

      .tab-content
        .tab-pane.active#branch-address
          =render :partial => 'branches/address'
        .tab-pane#branch-phones
          =render :partial => 'branches/phones'
        .tab-pane#branch-emails
          =render :partial => 'branches/emails'
        .tab-pane#branch-websites
          =render :partial => 'branches/websites'
