.gitconfig
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.idea/dataSources.xml
.idea/gtsapp.iml
.idea/misc.xml
coverage/*
public/assets/*
.idea/.generators
.idea/.rakeTasks
.idea/dataSources.ids
.idea/workspace.xml
chromedriver.log
