-if @contract.products.any?
  %table#products.table.table-striped.table-condensed
    %tr
      %th Наименование
      %th Рубрика
      %th
    -@contract.products.each do |p|
      %tr
        %td= p.product_type.name
        %td= p.rubric.name
        %td
          %a.btn.btn-mini{"href" => product_path(@contract, p), "data-remote" => "true",
          "data-confirm" => "Вы уверены?"}
            %i.icon-trash.icon-white
            Удалить