%table#products.sub-index.list_company
  %tr
    %th Наименование
    %th
  -if @contract.products.any?
    -@contract.products.each do |prod|
      %tr
        %td= prod.name
        %td= link_to "Удалить", contract_delete_product_path(@contract, prod), :confirm => 'Вы уверены?', :remote => true
  -else
    %tr
      %td{:colspan => 2}
        Нет связанных продуктов.