-if @contract.products.any?
  %table#products.table.table-striped.table-condensed
    %tr
      %th Наименование
      %th
    -@contract.products.each do |prod|
      %tr
        %td= prod.name
        %td
          %a.btn.btn-mini{"href" => contract_delete_product_path(@contract, prod), "data-remote" => "true",
          "data-confirm" => "Вы уверены?"}
            %i.icon-trash.icon-white
            Удалить