%table#products.sub-index.list_company
  %tr
    %th Наименование
    %th
  -if @contract.products.any?
    -@contract.products.each do |prod|
      %tr
        %td= prod.name
        -#%td= link_to "Удалить", company_delete_rubric_path(@company, rub), :confirm => 'Вы уверены?', :remote => true
        %td= link_to "Удалить", ""
  -else
    %tr
      %td{:colspan => 2}
        Нет связанных продуктов.