.page-header
  %h1{id:'contract_number'}
    = @contract.number
    %p
      %small
        = link_to @contract.company.title, company_path(@contract.company)

  = render :partial => "shared/messages"

.container
  .row
    .span5
      .well
        =render :partial => 'contracts/info'

    .span7
      %ul.nav.nav-tabs#contracts-tabs
        %li.active
          =link_to '#contract-products' do
            Продукты
      .tab-content
        .tab-pane.active#contract-products
          =render :partial => 'contracts/products'



