# encoding: utf-8
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1.section-title#title
  Новый пользователь

= render :partial => "form"

= link_to "Назад", users_path


