#message
  - if flash[:notice]
    #notice
      = flash[:notice]
  - if flash[:error]
    #warning
      Ошибка:
      - if flash[:error].is_a?(Array)
        - flash[:error].each do |msg|
          = msg
      - else
        = flash[:error]
