#home
  #home_title Авторизация
  #login
    #lables
      %label{ :for => "email" } Электронная почта
      %br
      %label{ :for => "password" } Пароль
    #values
      = text_field_tag "password"
      = text_field_tag "email"
