= render :partial => "shared/messages"

.page-header
  %h1
    = @company.title
    %p
      %small Просмотр компании
    %p
      - if request.referer && request.referer.split(/\?/)[0].eql?(search_url)
        = link_to "Назад к результатам поиска", search_path + '?back_to'

.container
  .row
    .span4
      .well#company-info
        =render :partial => "info"

    .span8
      %ul.nav.nav-tabs#company-tabs
        %li.active
          =link_to '#company-branches' do
            Филиалы
        %li
          =link_to '#company-rubrics' do
            Рубрики
        %li
          =link_to '#company-persons' do
            Персоны
        %li
          =link_to '#company-contracts' do
            Договора

      .tab-content
        .tab-pane.active#company-branches
          =render :partial => 'companies/branches'
        .tab-pane#company-rubrics
          =render :partial => 'companies/rubrics'
        .tab-pane#company-persons
          =render :partial => 'companies/persons'
        .tab-pane#company-contracts
          =render :partial => 'companies/contracts'
