-if @report_result
  .row-fluid
    .span10
      -#.well
      -if @report_result.any?
        %h4
          Компании, с которыми работал агент
          = @report_agent.username
        %br
        %table#report_results_table.table.table-striped
          %tr
            %th Компания
            %th
          -# Здесь полный набор истории, а достаточно просто показывать Название компании
          -@report_result.each do |rr|
            %tr
              %td
                = link_to rr.title, company_path(rr)
              %td
                = link_to "Подробно", nil
      -else
        %p
          Нет данных.