-if @report_result
  .row-fluid
    .span10
      -#.well
      -if @report_result.any?
        %h4
          Операции для агента
          = @report_agent.username
        %br
        %table#report_results_table.table.table-striped
          %tr
            %th Компания
            %th Последнее изменение
          -@report_result.each_value do |history|
            %tr
              %td= history.first.company.title
              %td= history.last.created_at.strftime('%d.%m.%Y %H:%M')
      -else
        %p
          Нет данных.