.page-header
  %h1
    Отчёты

  = render :partial => "shared/messages"

.container
  .row
    .span6

      %h4 По агенту
      %p
        Формирует отчёт по активности выбранного агента за указанный промежуток времени.
        Содержит информацию о созданных агентом компаниях. Показывает компании, в которых
        агентом произведены изменения.

    .span6
      %h4 Компании по улицам
      %p
        Отчёт содержит информацию по всем компаниям, чьи головные филиалы расположены
        на улице, заданной в параметрах.

  .row
    .span6
      = link_to "Показать", report_by_agent_path, class: "btn pull-right btn-mini"
    .span6
      = link_to "Показать", report_company_by_street_path, class: "btn btn-mini pull-right"

-if @current_user.is_admin?
  .container
    .row
      .span6

        %h4 По рубрике
        %p
          Показывает все зарегистрированные компании, входящие в указанную рубрику.

    .row
      .span6
        = link_to "Показать", report_by_rubric_path, class: "btn pull-right btn-mini"
