# encoding: utf-8
= render :partial => "shared/messages"

.page-header
  %h1
    Отчёты

.container-fluid
  .row-fluid
    .span5
      .well
        %h4 Отчёт по агенту
        %p
          Формирует отчёт по активности выбранного агента за указанный промежуток времени.
          Содержит информацию о созданных агентом компаниях. Показывает компании, в которых
          агентом произведены изменения.
        = link_to "Показать", report_by_agent_path, class: "btn pull-right"

      .well
        %h4 Отчёт компаний по улице
        %p
          Отчёт содержит информацию по всем компаниям, чьи головные филиалы расположены
          на улице, заданной в параметрах.
        = link_to "Показать", report_company_by_street_path, class: "btn pull-right"