.page-header
  %h1
    Рубрики

.container
  .row
    .span10
      %p
        =link_to new_rubric_path, :class => 'btn' do
          =glyph(:plus)
          Добавить

      = render :partial => "shared/messages"

      -if @rubrics.any?
        %table.table.table-striped.table-bordered{id:'rubrics'}
          %thead
            %tr
              %th Название
              %th
          %tbody
            - @rubrics.each do |rub|
              %tr
                %td= rub.name
                %td
                  .btn-group
                    = link_to edit_rubric_path(rub), :class => 'btn btn-mini', title: "Изменить" do
                      =glyph(:edit)
                    = link_to rubric_path(rub), :method => :delete, :confirm => 'Удалить запись?',
                    :class => 'btn btn-mini', title: "Удалить" do
                      =glyph(:remove)

