.page-header
  %h1
    Рубрики

.well
  %p
    =link_to "Добавить рубрику", new_rubric_path, :class => 'btn'

  = render :partial => "shared/messages"

  -if @rubrics.any?
    %table.table.table-striped{id:'rubrics'}
      %thead
        %tr
          %th Название
          %th
      %tbody
        - @rubrics.each do |rub|
          %tr
            %td= rub.name
            %td
              = link_to "Изменить", edit_rubric_path(rub), :class => 'btn btn-mini'
              = link_to "Удалить", rubric_path(rub), :method => :delete, :confirm => 'Удалить запись?',
              :class => 'btn btn-mini btn-danger'

