/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#warning {
    color: red;
}
#container {
    min-height:100%;
    position:relative;
    overflow: hidden;
}
#header {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    font-size: 12px;
}
#body {
    padding: 10px 10px 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
    font-size: 10px;
}
#footer_inner_left {
    float: left;
    width: 45%;
    padding: 5px;
}
#footer_inner_right {
    float: right;
    width: 45%;
    text-align: right;
    padding: 5px;
}
#home {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    margin-top: 5%;
}
#home_title {
    font-size: 24px;
    text-align: center
}
#login {
    padding: 20px;
    border: 1px solid;
    border-color: black;
}
td.labels {
    width: 50%;
    text-align: right;
}
td.values {
    width: 50%;
    text-align: left;
}
td.submit {
    text-align: right;
}
#message {
    text-align: center;
}
h1 {
    color: maroon;
    font-size: 150%;
    font-style: italic;
    display: block;
    width: 100%;
    border-bottom: 1px solid #a9a9a9;
}
h1.title {
    margin: 0 0 1em;
    padding: 10px;
    background-color: orange;
    color: white;
    border-bottom: 4px solid gold;
    font-size: 2em;
    font-style: normal;
}
table#index {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid black;
}
table#index th {
    border: 2px solid white;
    font-weight: bold;
    background-color: wheat;
}
table#index th, table#index td {
    padding: 4px;
    text-align: left;
}
div#top_menu {
    padding: 10px;
    background-color: #ffebcd;
    font-size: 16px
}