// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.agent_list_hidden {
  display: none;
}
.agent_list_visible {
  display: block;
}
.reason_delete_text {
  width: 90%;
}