// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#suspend_box {
  width: 50%;
  margin: 1em;
}
#dashboard_title {
  font-family: verdana, sans-serif;
  color: #963521;
  background-color: #F0E1D5;
  font-size: 12px;
  text-align: justify;
}
table#suspended_companies_list  {
}
table#suspended_contracts_list  {
}
