.reporesult-header {
  position: relative;
  margin: 10px;
}
.reporesult-header-left {
  float: left;
}
.reporesult-header-right {
  float: right;
}
.reporesult-message {
  position: relative;
  text-align: center;
  margin-top: 40px;
}